@font-face {
    font-family: chelsea market;
    src: url(https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap);
}
@font-face {
    font-family: roboto mono;
    src: url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap);
}
div{
    font-family: roboto mono;
}
.navbar{
    text-align: center;
    
}

.plan{
    background:#FF764E;
    border-radius: 12px;
    font-size:40px;
    text-decoration: none;
    color:white;
}
.learn{
    background:#5ED3EB;
    border-radius: 12px;
    font-size:40px;
    text-decoration: none;
    color:white;
}

.get-involved{
    background:#ffcd69;
    border-radius: 12px;
    font-size: 40px;
    text-decoration: none;
    color:white;
}

.title-img{
    border-radius: 50%;
    padding:70px;
    width:20%;
    
    
}
h1{
    text-align: center;
    vertical-align: center;
    font-family: chelsea market;
}
.info{
    background:#DDB9A3;
    padding:20px;
    margin-left: 50px;
    margin-right:50px;
    
}
.wood{
    width:10%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rv{
    width:10%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
address{
    background:#F9E7DC;
    height:150px;
    width:100%;
    vertical-align: center;
}
.body{
    text-align: center;
    font-size: 30px;
    color: white;

}
.fire{
    width: 300px;
    height: 100px;
    text-align: center;
}
p{
    text-align: center;
}
.lodging{
    width: 300px;
    height: 100px;
    text-align: center;
}
.footer-img{
    height:300px;
    width:100%;
}
footer{
    text-align:center;
}